$primary: "green";
$accent: "deep-orange";
$warn: "red";
$grey: "grey";

@import 'ember-paper';
@import 'components/lesson-item-selector';
@import 'components/lesson-modal';
@import 'components/loading-spinner';
@import 'components/login';
@import 'components/material-power-select';
@import 'components/paper-modifications';
@import 'components/signup';
@import 'components/star-rating';

.main-container {
  min-height: 100%;
}

.base-link {
  color: black;
  text-decoration-line: none;
}

.clickable {
  cursor: pointer;
}

.font-weight-500 {
  font-weight: 500;
}

.margin-1 {
  margin: 1rem;
}

.max-width-20 {
  max-width: 20rem;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
@import 'ember-power-select';
