$primary: "green";
$accent: "deep-orange";
$warn: "red";
$grey: "grey";

@import 'ember-paper';
@import 'components/lesson-selector';
@import 'components/login';
@import 'components/material-power-select';
@import 'components/paper-modifications';

.base-link {
  color: black;
  text-decoration-line: none;
}

.clickable {
  cursor: pointer;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
@import 'ember-power-select';
