<div class="layout-column lesson-details-list">
  <div>Date:</div>
  <div>{{@lesson.formattedDate}}</div>
  <div>Classroom:</div>
  <div>{{@lesson.enrollment.classroom.name}}</div>
  <div>Student:</div>
  <div>{{@lesson.enrollment.student.formattedName}}</div>
</div>