.lesson-item-selector {
  & > div {
    margin: 1rem;
  }
  .selector {
    md-input-container {
      width: 100%;
    }
    &--surah {
      min-width: 10rem;
    }
    &--ayah {
      width: 6rem;
      margin-left: 0.75rem;
    }
  }
}

.lesson-details-list {
  display: grid;
  grid-template-columns: 6rem auto;
  & > div {
    min-height: 3rem;
  }
}

.lessons-tile-text {
  max-width: 30rem;
  &--list {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    & > span {
      min-height: 2rem;
    }
    .center-text {
      text-align: center;
    }
  }
}
