
.lesson-selector {
  & > div {
    margin: 1rem;
  }
  .selector {
    min-width: 10rem;
    md-input-container {
      width: 100%;
    }
    &--ayah {
      margin-left: 0.75rem;
    }
  }
}

.lesson-select-dropdown {
  md-select-menu {
    .md-searchbox {
      flex-shrink: 0;
    }
  }
}
