.lesson-modal {
  .lesson-item-container {
    justify-content: center;
    max-width: 100%;
    display: flex;
    .lesson-item-content {
      .dialog-actions {
        display: flex;
        order: 2;
        box-sizing: border-box;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 0;
        padding-right: 8px;
        padding-left: 16px;
        min-height: 52px;
        overflow: hidden;
      }
    }
  }
}