.lesson-selector {
  & > div {
    margin: 1rem;
  }
  .selector {
    md-input-container {
      width: 100%;
    }
    &--surah {
      min-width: 8rem;
    }
    &--ayah {
      width: 5rem;
      margin-left: 0.75rem;
    }
  }
}

.lesson-select-dropdown {
  md-select-menu {
    .md-searchbox {
      flex-shrink: 0;
    }
  }
}

.lesson-details-list {
  display: grid;
  grid-template-columns: 6rem auto;
  & > div {
    min-height: 3rem;
  }
}
