.lesson-item-selector {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(4rem, 8rem));
  grid-template-rows: auto;
  grid-gap: 1rem;
  @media (max-width: $layout-breakpoint-xs - 1) {
    grid-template-columns: repeat(3, minmax(4rem, 8rem));
  }

  .lesson-item-component {
    align-self: center;
    grid-column-end: span 2; &--small {
      grid-column-end: span 1;
    }
    md-input-container {
      margin-bottom: 0px;
    }
    @media (max-width: $layout-breakpoint-xs - 1 ) {
      &--quality {
        grid-column-end: span 1;
      }
    }
    @media (min-width: $layout-breakpoint-xs) {
      &--quality-one {
        grid-column-start: 2;
      }
      &--quality-two {
        grid-column-start: 4;
      }
    }
  }
}

.lesson-details-list {
  margin: 2rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 6rem auto;
  & > div {
    min-height: 3rem;
  }
}

.lessons-tile-text {
  max-width: 30rem;
  &--list {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    & > span {
      min-height: 2rem;
    }
    .center-text {
      text-align: center;
    }
  }
}
