.login-page {
  height: 100vh;
  background-color: paper-color("grey", '100');
  .login-box {
    background-color: paper-color("grey", '50');
    padding: 3rem;
    border-radius: 10px;

    & > md-input-container {
      min-width: 15rem;
    }
  }
}