.login-page, .signup-page, .password-reset-page {
  height: 100vh;
  background-color: paper-color("grey", '200');
  .input-box {
    background-color: paper-color("grey", '50');
    padding: 3rem;
    border-radius: 10px;
    @media (max-width: $layout-breakpoint-xs - 1) {
      max-width: 20rem;
    }

    & .input-form > md-input-container {
      min-width: 15rem;
    }
    .link-section {
      margin-top: 1rem;
      .login-link {
        line-height: 2rem;
        color: #1565c0;
        text-decoration-line: none;
      }
    }
  }
}