
md-list {
  & > .extra-list-element {
    height: 5rem;
  }
}

.md-searchbox {
  padding-left: 0px;
  &::before {
    content: '';
    width: 10.667px;
    height: 100%;
    background: white;
  }
}

md-dialog.dialog-no-padding {
  .md-dialog-content {
    padding: 0px
  }
}
md-dialog.md-dialog-always-fullscreen {
  min-height: 100%;
  min-width: 100%;
  border-radius: 0;
}