<article class='lesson-item-container'>
  <div class='lesson-item-content layout-column'>
    {{#each @lessonTypes as |lessonType|}}
      <PaperButton @primary={{true}} @raised={{true}} @onClick={{action @addLesson lessonType}}>
        Add {{lessonType.name}}
      </PaperButton>
    {{/each}}
  </div>
</article>